<!DOCTYPE html>
<html>
<head>
<title> Thermal Imaging Analyzer </title>

<!-- 1 em = 16 px -->
  
<style>
  p {
    margin-top:3px;
    margin-bottom:3px;
  }
  
  .answer {
    font-size:24px;;
  }

  .textbox {
    color:pink;
    background-color:brown;
    border-width:thin;
    font-family:'Serif';
  }

  .submitButton {
    color:red;
    background-color:aqua;
    border-width:thick;

  }
</style>  

</head>

<body style="background-color:#ffffff"> 
<h1 style="color:#fcc603"> MakeSAFE </h1>

<h1 style="margin-bottom:3px;color:#000000;font-size:3em;font-family:'Arial'">Thermal Imaging Analyzer</h1>

<br>
<br>


<form method="post">

  
<label> Upload video file (mp4) </label>
  <br>
<input type="file" id="myFile" /> <br /><br />

<p style="font-size:16px;font-family:'Monospace'"> X Coord Start Position </p> 
<p><input class="textbox" type="number" step="1" type="number" name="xCoordStart" required></p> 

<p style="font-size:16px;font-family:'Monospace'"> Y Coord Start Position </p> 
<p><input class="textbox" type="number" step="1" type="number" name="yCoordStart" required></p>   

<p style="font-size:16px;font-family:'Monospace'"> Width </p> 
<p><input class="textbox" type="number" step="1" type="number" name="width" required></p> 

<p style="font-size:16px;font-family:'Monospace'"> Height </p> 
<p><input class="textbox" type="number" step="1" type="number" name="height" required></p>

<p style="font-size:16px;font-family:'Monospace'"> Start Frame </p> 
<p><input class="textbox" type="number" step="1" type="number" name="startFrame" required></p>

<p style="font-size:16px;font-family:'Monospace'"> End Frame </p> 
<p><input class="textbox" type="number" step="1" type="number" name="endFrame" required></p>

<br>

<p><input class="submitButton" type="submit" formaction="/add" placeholder="Number 1"></p> <!-- submit button -->
</form>


</form>

<p class="answer"> Output </p>
  <!--
<p class="answer" id="pngImage"> pngImage </p>
  -->
<div> 
<img src="">
</div>
<p class="answer" id="grayValue"> grayValue </p>
<div id="grayValueDiv"> grayValueDiv </div>
<p class="answer"> {{ data.grayValue }} </p>
<p class="answer" id="fileType"> fileType </p>
<img src="https://replit.com/@KyleMyint/Thermal-Imaging3-html#converted.png" alt="converted image">
  
</body>

<script type="text/javascript">

  console.log("Hello world!")
  
  var imageData = {{ data.imageData }}
  var grayValue = {{ data.grayValue }}


  console.log(typeof grayValue);
  //console.log(pngImage + grayValue);
  
  //document.getElementById("grayValue").innerHTML = grayValue;
  //document.getElementById("imageData").innerHTML = imageData;

// const para = document.createElement("p");
// para.innerText = grayValue;
// document.body.appendChild(para);

const para = document.createElement("p");
para.innerHTML =  grayValue;
document.getElementById("grayValueDiv").appendChild(para);
  
</script>
  
</html>

<!-- https://www.w3schools.com/colors/colors_picker.asp -->